/* core */
body {
  margin: 0;
  height: 100%;
  font-family: "Noto Serif", serif;
  color: #282828;
}

/* box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #aaaaaa;
  height: 1px;
}
